<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="de.tu_darmstadt.sport.fvf.Application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.tu_darmstadt.sport.fvf.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.tu_darmstadt.sport.fvf.DefaultPreferences">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.tu_darmstadt.sport.fvf.ui.preferences.FVFPreferences"
            id="de.tu_darmstadt.sport.fvf.preferences.FVFPreferences"
            name="FVF">
      </page>
      <page
            class="de.tu_darmstadt.sport.fvf.ui.preferences.TestPreferences"
            id="de.tu_darmstadt.sport.fvf.preferences.MeasurementPreferences"
            name="Test">
      </page>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.tu_darmstadt.sport.fvf.Application"
            name="FVF">
         <property
               name="windowImages"
               value="icons/appicon/fvf-16.png,icons/appicon/fvf-32.png,icons/appicon/fvf-48.png,icons/appicon/fvf-64.png,icons/appicon/fvf-128.png">
         </property>
         <property
               name="appName"
               value="FVF">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
         <property
               name="aboutText"
               value="Programm zur Messung der Flimmer-Verschmelzungs-Frequenz.&#x0A;&#x0A;Ersteller:&#x0A;Thomas Gossmann&#x0A;Gerrit Kollegger&#x0A;Leonie Poetsch&#x0A;&#x0A;Icons:&#x0A;Silk von famfamfam - http://www.famfamfam.com/lab/icons/silk/&#x0A;Fugue von Yusuke Kamiyamane - http://p.yusukekamiyamane.com/&#x0A;&#x0A;Verwendete Bibliotheken:&#x0A;Eclipse RCP - http://eclipse.org/rcp&#x0A;Sormula ORM - http://sormula.org&#x0A;SQLite JDBC - http://www.xerial.org/trac/Xerial/wiki/SQLiteJDBC&#x0A;SQLJet - http://sqljet.com/&#x0A;RXTX - http://rxtx.qbang.org">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.tu_darmstadt.sport.fvf.ui.Perspective"
            id="de.tu_darmstadt.sport.fvf.ui.Perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="de.tu_darmstadt.sport.fvf.ui.PersonView"
            id="de.tu_darmstadt.sport.fvf.ui.PersonView"
            name="PersonView"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="de.tu_darmstadt.sport.fvf.ui.ResultView"
            icon="icons/person.png"
            id="de.tu_darmstadt.sport.fvf.ui.ResultView"
            name="ResultView"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.tu_darmstadt.sport.fvf.handler.DatabaseOpenHandler"
            id="de.tu_darmstadt.sport.fvf.commands.opendb"
            name="DatabaseOpen">
      </command>
      <command
            defaultHandler="de.tu_darmstadt.sport.fvf.handler.DatabaseCreateHandler"
            id="de.tu_darmstadt.sport.fvf.commands.newdb"
            name="DatabaseNew">
      </command>
      <command
            defaultHandler="de.tu_darmstadt.sport.fvf.handler.PersonCreateHandler"
            id="de.tu_darmstadt.sport.fvf.commands.newperson"
            name="PersonNew">
      </command>
      <command
            id="de.tu_darmstadt.sport.fvf.commands.editperson"
            name="PersonEdit">
      </command>
      <command
            id="de.tu_darmstadt.sport.fvf.commands.deleteperson"
            name="PersonDelete">
      </command>
      <command
            id="de.tu_darmstadt.sport.fvf.commands.newtest"
            name="TestCreate">
      </command>
      <command
            id="de.tu_darmstadt.sport.fvf.commands.arduinoconnect"
            name="ArduinoConnect">
         <commandParameter
               id="org.eclipse.ui.commands.radioStateParameter"
               name="State"
               optional="false">
         </commandParameter>
         <state
               id="org.eclipse.ui.commands.radioState">
            <class
                  class="org.eclipse.ui.handlers.RadioState">
               <parameter
                     name="default"
                     value="null">
               </parameter>
               <parameter
                     name="persisted"
                     value="false">
               </parameter>
            </class>
         </state>
      </command>
      <command
            id="de.tu_darmstadt.sport.fvf.commands.arduinodisconnect"
            name="ArduinoDisconnect">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.tu_darmstadt.sport.fvf.handler.PersonDeleteHandler"
            commandId="de.tu_darmstadt.sport.fvf.commands.deleteperson">
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="de.tu_darmstadt.sport.fvf.contexts.PersonSelected">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.tu_darmstadt.sport.fvf.handler.PersonEditHandler"
            commandId="de.tu_darmstadt.sport.fvf.commands.editperson">
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="de.tu_darmstadt.sport.fvf.contexts.PersonSelected">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.tu_darmstadt.sport.fvf.handler.TestCreateHandler"
            commandId="de.tu_darmstadt.sport.fvf.commands.newtest">
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <equals
                        value="de.tu_darmstadt.sport.fvf.contexts.PersonSelected">
                  </equals>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.tu_darmstadt.sport.fvf.handler.ArduinoConnectHandler"
            commandId="de.tu_darmstadt.sport.fvf.commands.arduinoconnect">
         <enabledWhen>
            <with
                  variable="de.tu_darmstadt.sport.fvf.arduinoConnected">
               <equals
                     value="disconnected">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.tu_darmstadt.sport.fvf.handler.ArduinoDisconnectHandler"
            commandId="de.tu_darmstadt.sport.fvf.commands.arduinodisconnect">
         <enabledWhen>
            <with
                  variable="de.tu_darmstadt.sport.fvf.arduinoConnected">
               <equals
                     value="connected">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.tu_darmstadt.sport.fvf.commands.opendb"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="de.tu_darmstadt.sport.fvf.keys"
            sequence="M1+O">
      </key>
      <key
            commandId="de.tu_darmstadt.sport.fvf.commands.newdb"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="de.tu_darmstadt.sport.fvf.keys"
            sequence="M1+N">
      </key>
      <key
            commandId="de.tu_darmstadt.sport.fvf.commands.newperson"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="de.tu_darmstadt.sport.fvf.keys"
            sequence="M1+P">
      </key>
      <key
            commandId="de.tu_darmstadt.sport.fvf.commands.editperson"
            contextId="de.tu_darmstadt.sport.fvf.contexts.PersonSelected"
            schemeId="de.tu_darmstadt.sport.fvf.keys"
            sequence="M1+I">
      </key>
      <key
            commandId="de.tu_darmstadt.sport.fvf.commands.newtest"
            contextId="de.tu_darmstadt.sport.fvf.contexts.PersonSelected"
            schemeId="de.tu_darmstadt.sport.fvf.keys"
            sequence="M1+T">
      </key>
      <scheme
            id="de.tu_darmstadt.sport.fvf.keys"
            name="FVF">
      </scheme>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="de.tu_darmstadt.sport.fvf.contexts.PersonSelected"
            name="PersonSelected">
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="Datei">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="de.tu_darmstadt.sport.fvf.os">
                  <not>
                     <equals
                           value="mac">
                     </equals>
                  </not>
               </with>
            </visibleWhen>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Einstellungen"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               label="Datenbank">
            <command
                  commandId="de.tu_darmstadt.sport.fvf.commands.newdb"
                  icon="icons/database_new.png"
                  label="Neue Datenbank anlegen"
                  style="push">
            </command>
            <command
                  commandId="de.tu_darmstadt.sport.fvf.commands.opendb"
                  icon="icons/database_connect.png"
                  label="Datenbank öffnen"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.tu_darmstadt.sport.fvf.toolbar">
            <command
                  commandId="de.tu_darmstadt.sport.fvf.commands.newperson"
                  icon="icons/person_add.png"
                  label="Neue Person"
                  style="push">
            </command>
            <command
                  commandId="de.tu_darmstadt.sport.fvf.commands.editperson"
                  icon="icons/person_edit.png"
                  label="Person bearbeiten"
                  style="push">
            </command>
            <command
                  commandId="de.tu_darmstadt.sport.fvf.commands.deleteperson"
                  icon="icons/person_delete.png"
                  label="Person löschen"
                  style="push">
            </command>
            <command
                  commandId="de.tu_darmstadt.sport.fvf.commands.newtest"
                  icon="icons/test_new.png"
                  label="Neuer Test"
                  style="push">
            </command>
            <separator
                  name="toolbar.sep2"
                  visible="true">
            </separator>
            <command
                  commandId="de.tu_darmstadt.sport.fvf.commands.arduinoconnect"
                  icon="icons/connect.png"
                  id="de.tu_darmstadt.sport.fvf.arduinoconnect"
                  label="Verbindung herstellen"
                  style="pulldown">
            </command>
            <command
                  commandId="de.tu_darmstadt.sport.fvf.commands.arduinodisconnect"
                  icon="icons/disconnect.png"
                  label="Verbindung trennen"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:de.tu_darmstadt.sport.fvf.ui.PersonView">
         <command
               commandId="de.tu_darmstadt.sport.fvf.commands.newperson"
               icon="icons/person_add.png"
               label="Neue Person"
               style="push">
         </command>
         <command
               commandId="de.tu_darmstadt.sport.fvf.commands.editperson"
               icon="icons/person_edit.png"
               label="Person bearbeiten"
               style="push">
         </command>
         <command
               commandId="de.tu_darmstadt.sport.fvf.commands.deleteperson"
               icon="icons/person_delete.png"
               label="Person löschen"
               style="push">
         </command>
         <separator
               name="FVF.separator1"
               visible="true">
         </separator>
         <command
               commandId="de.tu_darmstadt.sport.fvf.commands.newtest"
               icon="icons/test_new.png"
               label="Neuer Test"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:de.tu_darmstadt.sport.fvf.arduinoconnect">
         <dynamic
               class="de.tu_darmstadt.sport.fvf.ui.ArduinoConnectMenu"
               id="de.tu_darmstadt.sport.fvf.ui.ArduinoConnectMenu">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="de.tu_darmstadt.sport.fvf.handler.ArduinoConnectionProvider">
         <variable
               name="de.tu_darmstadt.sport.fvf.arduinoConnected"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
      <sourceProvider
            provider="de.tu_darmstadt.sport.fvf.handler.OSProvider">
         <variable
               name="de.tu_darmstadt.sport.fvf.os"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>

</plugin>
